/* John Farrelly, 11/09/2021 */

body {

}

p {
  border: solid 1px;
  padding: 20px;
  background-color: blueviolet;
  margin: 60px;
}
h1 {
  color: black;
  font-family: Arial, Helvetica, sans-serif ;
  margin-left:20%;
}

p {
    color: black;
    font-family: Arial, Helvetica, sans-serif ;
    margin-left:20%;
}